@import url('./base.css');


/* layout */
@import url('./layout/header.css');
@import url('./layout/footer.css');

/* components */
@import url('./components/btn.css');
@import url('./components/navbar.css');
@import url('./components/cardHour.css');
@import url('./components/logo.css');
@import url('./components/separate.css');
@import url('./components/socialMedia.css');
@import url('./components/lightColumn.css');


/* Pages */
@import url('./pagesCSS/home.css');
@import url('./pagesCSS/saison2026.css');
@import url('./pagesCSS/effetMer.css');
@import url('./pagesCSS/evnmt.css');
@import url('./pagesCSS/aPropos.css');
@import url('./pagesCSS/contact.css');

/* fonts */
@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source sans pro light';
  src: url('assets/fonts/source-sans-pro.light.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif Pro Regular';
  src: url('assets/fonts/SourceSerifPro-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Playfaire Display';
  src: url('assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}