@import url('./base.css');


/* layout */
@import url('./layout/header.css');
@import url('./layout/footer.css');

/* components */
@import url('./components/btn.css');
@import url('./components/navbar.css');
@import url('./components/cardHour.css');
@import url('./components/logo.css');
@import url('./components/separate.css');
@import url('./components/socialMedia.css');

/* Pages */
@import url('./pages/home.css');

/* fonts */
@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
};