footer {
  padding: 10px;
  background-color: #1B1613;
  color: #ffffff;
}

.footer-social p {
  font-size: clamp(4px, 1vw, 8px);
  color: rgb(123, 122, 122);
}

.footer-bottom p {
  font-size: clamp(6px, 2vw, 12px);
}

/* GRID */
.footer-container {
  display: grid;
  display: grid;
  grid-template-columns: 10px 20vw 55vw 20vw 10px;
  grid-template-rows: 60px 40vh 9vh 60px;
}

@media (max-width: 668px) {
  .footer-container {
    grid-template-columns: 10px 20vw 55vw 20vw 10px;
    grid-template-rows: 50px 6vh 34vh 8vh 50px;
  }
}


.footer-left {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: flex;
  justify-content: flex-start;
}
@media (max-width: 668px) {
  .footer-left {
    grid-column: 3 / 4;
    grid-row: 3 / 4;

    display: flex;
  justify-content: center;
  }
}

.footer-center {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}


.footer-right {
  grid-column: 4 / 5;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer-socialMedia {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 668px) {
  #footer-socialMedia {
    grid-column: 2 / 5;
    grid-row: 4 / 5;
   
  }
}

.footer-bottom {
  grid-column: 2 / 5;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 668px) {
  .footer-bottom {
    grid-column: 2 / 5;
    grid-row: 5 / 6;
   
  }
}