footer {
  padding: 10px;
}


footer .navBar {
  display: flex;
  justify-content: center;
  gap: 80px;
}

footer .navBar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

footer {
  background-color: #1B1613;
  color: #ffffff;
}

.footer-social p {
  font-size: clamp(4px, 1vw, 8px);
  color: rgb(123, 122, 122);
}