.header {
    position: sticky;
    top: 0;
    z-index: 10;
    height: 60vh;

    background-image: url(../img/img-galerie-header2.jpg);
    background-size: cover;
    background-position: center;
}

.header-navBar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12vh
}


.header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    bottom: 20vh;
    
    
}

.header-logo {
    position: relative;
    height: 12vh;
    display: flex;
    justify-content: flex-start;
    left: 3vw;
}




@media (max-width: 768px) {
    .light-column {
       display: none;

    }
}