.header {
    position: sticky;
    top: 0;
    z-index: 10;
    height: 70vh;

    /* background-image: url(../img/img-galerie-header2.jpg); */
    background-image: url(../img/img-galerie-header2-luminositée.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


.header-navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 15vh;
}


.header-container {
    position: relative;
}

.header-logo {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 25px 0 0 25px;
    display: inline-block;
}