<section>
    <div class="cardHour">
        <h3>Contacte</h3>
        <div class="white-line1"></div>
        <p>Téléphone : 06 52 84 44 01</p>
        <p>Mail : Galeriedesmarins@gmail.com</p>
        <h3>Horaire</h3>
        <div class="white-line2"></div>
        <p>Contactez nous à tous moments</p>
        <p>Les horaires d’ouverture varies <br> en fonction des évènements.</p>
        <h3>Expositions</h3>
        <div class="white-line3"></div>
        <p>Lundi au Dimanche</p>
        <p>Date Date</p>
    </div>
</section>