<footer class="footer">
    <div class="footer-container">

        <div class="footer-left">
            <div id="footer-navBar"></div>
        </div>

        <div class="footer-center">
            <div id="footer-logo"></div>
        </div>

        <div class="footer-right">
            <div id="footer-cardHour"></div>
        </div>

        <div class="footer-bottom">
           <div id="footer-social"></div>
            <hr>
            <p>© 2024 | Association la Galerie Des Marins </p>
        </div>
</footer>