<nav class="navbar">

    <div class="navbar-menu-container">
        <ul class="navbar-menu">
            <li class="navbar-menu-item">
                <a href="/index.html" class="navbar-menu-item-link">Accueil</a>
            </li>
            <li class="navbar-menu-item">
                <a href="/pages/comingSoon.html" class="navbar-menu-item-link">Saison 2026</a>
            </li>
            <li class="navbar-menu-item">
                <a href="/pages/comingSoon.html" class="navbar-menu-item-link">"Effet Mer"</a>
            </li>
            <li class="navbar-menu-item">
                <a href="/pages/comingSoon.html" class="navbar-menu-item-link">Événements</a>
            </li>
            <li class="navbar-menu-item">
                <a href="/pages/aPropos.html" class="navbar-menu-item-link">A Propo</a>
            </li>
            <li class="navbar-menu-item">
                <a href="/pages/contact.html" class="navbar-menu-item-link">Contact</a>
            </li>
        </ul>
    </div>
    
    <div class="navbar-burger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <div class="navbar-burger-light-column"></div>
    </div>
</nav>