<nav class="navBar">
    <a class="homeStay" href="home.html">Accueil</a> </li>

    <ul class="nav-menu">
        <li class="nav-item"><a href="home.html" class="nav-link">Accueil</a></li>
        <li class="nav-item"><a href="saison2026.html" class="nav-link">Saison 2026</a></li>
        <li class="nav-item"><a href="effetMer.html" class="nav-link">"Effet Mer"</a> </li>
        <li class="nav-item"><a href="evnmt.html" class="nav-link">Événements</a></li>
        <li class="nav-item"><a href="aPropos.html" class="nav-link">A Propo</a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
    </ul>

    <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <div class="hamburger-light-column"></div>
    </div>
</nav>