.card-hour-container {
    display: flex;
    position: relative;
    padding: 15px 20px;
}

.card-hour {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.card-hour h3 {
    font-size: clamp(18px, 1.5vw, 24px);
    margin-top: 8px;
}

.card-hour p {
    text-align: right;
    font-size: clamp(13px, 1.5vw, 18px);
    margin-top: 10px;
    color: rgb(255, 243, 243);
}

.white-line {
    width: auto;
    height: 1px;
    background-color: rgb(255, 243, 243);
    border-radius: 25%;

    width: clamp(17vw, 4vw, 14vw);
    margin: 10px 0 10px 0;
}

@media (max-width: 668px) {
    .card-hour--footer {
        display: none;
    }
}



/* PAGES CONTACT */
.card-hour--contact .card-hour-container {
    display: flex;
    position: relative;
    padding: 0px 20px;
}

.card-hour--contact .white-line {
    position: relative;
    height: 2px;
    background-color: rgb(148, 0, 0);
    border-radius: 25%;
    width: clamp(30vw, 10vw, 75vw);
    margin: 10px 0 35px 0;
}

@media (max-width: 668px) {
    .card-hour--contact .white-line {
        margin: 10px 0 18px 0;
    }
}

.card-hour--contact .white-line-circle {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(148, 0, 0);
    border-radius: 50%;
    top: -6px;
    left: -3px;
}

.card-hour--contact h3 {
    position: relative;
    margin-top: 85px;
    left: 10%;
    font-size: clamp(15px, 2vw, 24px);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 48px;
}

.card-hour--contact p {
    color: rgb(0, 0, 0);
    font-size: clamp(10px, 1.5vw, 14px);
    margin-left: clamp(15px, 2vw, 30px);
    text-align: left;
}

.card-hour--contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center;
    align-items: center; */
}