.card-hour-container {
    display: flex;
    position: relative;
    padding: 15px 20px;
}


.card-hour {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.card-hour h3 {
    font-size: clamp(8px, 1.5vw, 16px);
    margin-top: 8px;
}

.card-hour p {
    text-align: right;
    font-size: clamp(6px, 1.5vw, 14px);
    margin-top: 10px;
    color: rgb(255, 243, 243);
}

.white-line {
    width: auto;
    height: 1px;
    background-color: rgb(255, 243, 243);
    border-radius: 25%;

    width: clamp(17vw, 4vw, 14vw);
    margin: 10px 0 10px 0;
}

@media (max-width: 668px) {
    .card-hour--footer {
        display: none;
    }
}




.card-hour--contact {}