.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: clamp(120px, 21vw, 300px);
  height: auto;
}


.logo p {
  font-size: clamp(6px, 0.9vw, 14px);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

