.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* HEADER */
.header-logo img {
  width: clamp(130px, 15vw, 200px);
  height: auto;
}

.header-logo p {
  font-size: clamp(3px, 0.4vw, 8px);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}


/* FOOTER */
#footer-logo img {
  width: clamp(175px, 21vw, 300px);
  height: auto;
}

#footer-logo p {
  font-size: clamp(5px, 0.7vw, 12px);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}