li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 0px 24px;
}

.navbar-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.navbar-menu-item {
    margin: 16px 0;
}


/* light column sur lien actif */
.navbar-menu-item-link.active {
    position: relative;
    z-index: 100;
}

/* .navbar-menu-item-link.active::after {
    content: "";
    position: absolute;
    z-index: 1;
    pointer-events: none;

    left: 50%;
    transform: translateX(-50%);
    width: 84.06px;
    height: 100px;
    top: 50;

    background: linear-gradient(180deg,
            rgba(244, 244, 244, 0) 0,
            rgba(244, 244, 244, 0) 10.08%,
            rgba(244, 244, 244, 0.41) 38.94%,
            rgba(244, 244, 244, 0.842047) 84.13%,
            #FFF 100%);
} */



/* effet hover */
.navbar-menu-item-link {
    display: inline-block; /*pour gérer le dispaly:inline par defaur pour balise <a>*/
    position: relative; /*pour gérer position absolute de .navbar-....active*/
    transition: 0.7s ease;
}

.navbar-menu-item-link:hover {
    color: rgb(153, 153, 153);
}




/* menu burger responsive*/
.burger {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }

    .line {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: rgb(255, 255, 255);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .burger.active .line:nth-child(2) {
        opacity: 0;
    }

    .burger.active .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .burger-light-column {
        position: absolute;
        width: 84.06px;
        height: 503px;
        left: 17.85%;
        top: 1px;
        background: linear-gradient(180deg,
                rgba(244, 244, 244, 0) 0,
                rgba(244, 244, 244, 0) 10.08%,
                rgba(244, 244, 244, 0.41) 38.94%,
                rgba(244, 244, 244, 0.842047) 84.13%,
                #FFF 100%);
    }
}