.separate img {
  position: absolute;
  width: 18%;
  height: auto;
  bottom: -1px;
  left: 87%;
}

@media (max-width: 668px) {
  .separate img {
    bottom: 0px;
    width: 30%;
    left: 86%;
  }
}

.separate div {
  width: 80vw;
  height: 2px;
  background-color: black;
  border-radius: 25%;
}

.separate {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: clamp(10px, 5vw, 65px);
}


/* SEPARATE HOME.HTML */
/* BLOC 2 */
.separate--bloc2 img {
  position: absolute;
  width: 18%;
  height: auto;
  bottom: -1px;
  left: -5%;
  transform: scaleX(-1);
}

@media (max-width: 668px) {
  .separate--bloc2 img {
    bottom: 0px;
    width: 30%;
  }
}


/* BLOC 3 */
.separate--bloc3 img {
  position: absolute;
  width: 43%;
  height: auto;
  bottom: -14px;
  left: 61%;
}

@media (max-width: 1178px) {
  .separate--bloc3 img {
    bottom: -8px;
  }
}

@media (max-width: 668px) {
  .separate--bloc3 img {
    left: 60%;
    width: 49%;
    bottom: -1px;
  }
}


/* BLOC 4 */
/* pas de img sur le 1 */
.separate-social-1 {
  width: auto;
  height: 2px;
  background-color: black;
  border-radius: 25%;
}

.separate-social-2 {
  width: auto;
  height: 2px;
  background-color: black;
  border-radius: 25%;
}

.separate-social-2-img {
  position: absolute;
  width: 48%;
  height: auto;
  bottom: -1px;
  right: 72%;
}

@media (max-width: 668px) {
  .separate-social-2-img {
    bottom: 0px;
    width: 90%;
    right: 46%;
  }
}