.separate img {
  width: 25%;
  height: auto;
}

.separate div {
  width: 80vw;
  height: 2px;
  background-color: black;
  border-radius: 25%;
}

.separate {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: clamp(10px, 5vw, 50px);
}