/* HOME */
.social-media--home img {
    width: 30px;
    height: 30px;
}

.social-media img {
    width: clamp(35px, 7vw, 80px);
    height: auto;
}



/* FOOTER */
.social-media--footer {
    color: rgb(0, 0, 0);
}

.footer-social p {
    font-size: clamp(4px, 1vw, 8px);
    color: rgb(123, 122, 122);
}