/* HOME */
.social-media--home img {
    width: 30px;
    height: 30px;
}

.social-media img {
    width: clamp(35px, 7vw, 80px);
    height: auto;
}



/* FOOTER */
.social-media--footer {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .social-media--footer {
        justify-content: flex-start;
        margin-left: 10px;
    }
}

.footer-social p {
    font-size: clamp(4px, 1vw, 8px);
    color: rgb(123, 122, 122);
}