/* effet de recouvrement */
.main {
    margin-top: -120px;
    position: relative;
    z-index: 20;

    background: white;
    border-radius: 20px 20px 0 0;
    padding: 30px;

    box-shadow: à -10px 10px 20px rgba(0, 0, 0, 0.2);
}

.socialMedia-title h2 {
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}