/* effet de recouvrement */
.main {
    margin-top: -120px;
    position: relative;
    z-index: 20;

    background: white;
    border-radius: 20px 20px 0 0;
    padding: 30px;

    box-shadow: à -10px 10px 20px rgba(0, 0, 0, 0.2);
}

.social-title h2 {
    font-size: clamp(40px, 3.5vw, 60px);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.intro-aPropo-title p {
    font-size: clamp(9px, 0.9vw, 18px);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.intro-aPropo {
    margin-top: 50px;
    display: grid;
}

.intro-aPropo-content img {
    width: 230px;
    height: auto;
}

.intro-aPropo-content p {
    font-size: clamp(14px, 2vw, 24px);
    font-family: 'Playfaire Display';
    font-style: italic;
}