/* Background image */
.background-home {
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 430vh;
    z-index: -1;
}

@media(prefers-reduced-motion: reduce) {
    .background-home {
        background-attachment: scroll;
    }
}

.background-home-stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 78vh;
    background: linear-gradient(to bottom,
            #00000038 0%, transparent 50%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0.5) 100%);
}


/* BLOC 1 INTRO */
.intro-aPropo-title p {
    font-size: clamp(6px, 1.5vw, 15px);
    font-family: "Roboto Mono";
    text-transform: uppercase;
    font-weight: 200;
}

.intro-aPropo-content p {
    font-size: clamp(14px, 2vw, 18px);
    font-family: 'Playfaire Display';
    font-style: italic;
}

/* grid */
/* parent */
.intro-aPropo {
    margin-top: 50px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
}

/* child */
.intro-aPropo-title {
    grid-column: 3 / 4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    right: 120px;
}

.intro-aPropo img {
    grid-column: 2 / 3;
    grid-row: 1/3;

    width: clamp(200px, 30vw, 800px);
    height: auto;

    position: relative;
    right: 75px;
}

.intro-aPropo-content {
    grid-column: 3 / 4;
    grid-row: 2/3;

    position: relative;
    right: 25px;
}


/* MOBILE */
@media (max-width: 568px) {
    .intro-aPropo {
        margin-top: 50px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        column-gap: 10px;
        row-gap: 25px;
        width: 440px;
    }

    .intro-aPropo-title {
        grid-column: 2;
        grid-row: 1;
        padding-left: 62px;
        width: 190px;
    }

    .intro-aPropo img {
        grid-column: 1;
        grid-row: 1;

        width: clamp(200px, 2vw, 400px);
        height: auto;

        position: relative;
        right: 0px;
        padding-left: 30px;
    }

    .intro-aPropo-content {
        grid-column: 1/ 3;
        grid-row: 2;

        position: relative;
        right: 0px;
        padding: 0 30px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

/*  */





/* BLOC 2 EN CE MOMENT & SAISON 2026 */
.background-home-stripe2 {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    background-color: #f4a85c8a;
    border-radius: 30px 0 0 30px;
}

@media (max-width: 668px) {
    .background-home-stripe2 {
        border-radius: 30px;
    }
}

.background-home-stripe3 {
    position: absolute;
    top: 0;
    width: 137%;
    height: 100%;
    z-index: -1;
    background-color: #b0350273;
    border-radius: 30px;
}

.enCeMonent {
    position: relative;
    display: grid;
    grid-template-columns: 10% 2fr 3fr 1fr 10%;
    grid-template-rows: 2fr 1fr;
}

.enCeMoment-titleH4 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    transform: rotate(-0.25turn);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37%;
    width: 315%;
    left: -30%;
    font-size: clamp(27px, 2.5vw, 30px);
}

@media (max-width: 868px) {
    .enCeMoment-titleH4 {
        height: 50%;
        width: 315%;
        left: -30%;
    }
}

@media (max-width: 668px) {
    .enCeMoment-titleH4 {
        height: 78%;
        width: 650%;
        left: -180%;
    }
}


.enCeMoment-affiche {
    grid-column: 4 / 5;
    grid-row: 1 / 3;

    position: relative;
    width: clamp(210px, 40vw, 470px);
    height: auto;
    border-radius: 0 30px 30px 0;
}

.enCeMoment-saison2026 {
    grid-column: 3 / 4;
    grid-row: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 668px) {
    .enCeMonent {
        position: relative;
        display: grid;
        grid-template-columns: 10% 2fr 3fr 1fr 10%;
        grid-template-rows: 1fr 65px 1fr;
    }

    .enCeMoment-affiche {
        grid-column: 4 / 5;
        grid-row: 2 / 3;

        position: relative;
        width: clamp(185px, 33.5vw, 391px);
        height: auto;
        bottom: 30px;
        border-radius: 120px;
    }

    .enCeMoment-saison2026 {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        bottom: 35px;
    }
}

/* sous grid - En ce moment content */
.enCeMoment-content {
    grid-column: 2 / 4;
    grid-row: 1;
    display: grid;
    margin-left: clamp(55px, 5vw, 200px);
    row-gap: 7px;
    position: relative;
    height: min-content;
    grid-auto-rows: 45px 75px 120px;
    padding-left: 10px;
}

@media (max-width: 668px) {
    .enCeMoment-content {
        grid-column: 2 / 5;
        grid-row: 1;
    }
}

.enCeMoment-content h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-left: 10px;
}


.enCeMoment-content-artiste {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.enCeMoment-content-date {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.enCeMoment-content-texte {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    position: relative;
}


.enCeMoment-saison2026 h2,
.enCeMoment-saison2026 p {
    padding-left: 10px;
}

/*  */







/* BLOC 3 PROJTS 1 EVNMT*/
.intro-projetEvnmt {
    position: relative;
    display: grid;
    grid-template-columns: 10vw 1fr 4vw 1fr 10vw;
    grid-template-rows: 0vh 41vh 11vh 50vh;
}

@media (max-width: 768px) {
    .intro-projetEvnmt {
        position: relative;
        display: grid;
        grid-template-columns: 10vw 1fr 4vw 1fr 10vw;
        grid-template-rows: 0vh 38vh 8vh 40vh;
    }
}

@media (max-width: 668px) {
    .intro-projetEvnmt {
        grid-template-columns: 5vw 47vw 21px 39vw 5vw;
        grid-template-rows: 40vh 7vh 11vh 4vh 54vh;
    }
}



/* TITRE */
.intro-projetEvnmt-titleWrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
}

@media (max-width: 668px) {
    .intro-projetEvnmt-titleWrapper {
        grid-column: 3 / 5;
        grid-row: 2 / 5;
        border: solid;
        border-width: 2px;
        border-radius: 30px;
        border-color: linear-gradient(to bottom, #ffbd45 0%, #b03502 100%);
    }
}

.intro-projetEvnmt-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h2 {
        font-size: clamp(28px, 3vw, 55px);
    }
}

@media (max-width: 668px) {
    .intro-projetEvnmt-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
}

.intro-projetEvnmt-titleTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    h1 {
        font-size: clamp(40px, 5vw, 90px);
    }
}


/* effet mer */
.intro-projetEvnmt-effetMer {
    grid-column: 2 / 4;
    grid-row: 3 / 5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: inherit;

    border: solid;
    border-width: 2px;
    border-radius: 30px;
    border-color: #ffbd45;
}

@media (max-width: 668px) {
    .intro-projetEvnmt-effetMer {
        grid-column: 2 / 4;
        grid-row: 4 / 6;
    }
}

.intro-projetEvnmt-effetMer h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px 0;
}

@media (max-width: 668px) {
    .intro-projetEvnmt-effetMer h3 {
        display: flex;
        align-items: flex-start;
        padding: 30px 30px;
    }
}


/* nos Evnmt */
.intro-projetEvnmt-nosEvnmt {
    grid-column: 3 / 5;
    grid-row: 2 / 4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: inherit;

    border: solid;
    border-width: 2px;
    border-radius: 30px;
    border-color: brown;
}

@media (max-width: 668px) {
    .intro-projetEvnmt-nosEvnmt {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }
}

.intro-projetEvnmt-nosEvnmt h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px 0;
}




/* texte des cards et btn*/
.texte-bold {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 0;
}

@media (max-width: 668px) {
    .texte-bold {
        padding: 10px 5px;
    }
}

.texte {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 0;
}

@media (max-width: 668px) {
    .texte {
        padding: 10px 5px;
    }
}

/*  */






/* BLOC 4 Social Media*/
.social-title h2 {
    font-size: clamp(25px, 3.5vw, 50px);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* grid bloc 4 social */
.social {
    display: grid;
    grid-template-columns: 1fr 8vw 26vw 8vw 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin:
        clamp(10px, 15vw, 142px) clamp(10px, 10vw, 142px)
}

.separate-social-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.social-title {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separate-social-2 {
    position: relative;
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

#home-socialMedia {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
}

.social-media--home {
    display: flex;
    justify-content: center;
    gap: 50px;
}