/* A MODIFIER REGULIEREMENT */
/* PAGE : SAISON 2026 */
/* MODIFIER LES CLASSE DANS LE HTML SAISON 2026 */
/* expo-finish : passer le background en grid */
/* en-cours : ajouter un bord coloré */

/* Modifier PAGES HOME / L'artiste et expo du moment directement dans le html  */
.expo-finish {
    background-color: #c9c9c9;
}

.en-cours {
    background-color: none;
    border: solid 2px #f0a869;
}