


.saison2026-intro {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;

    gap: clamp(20px, 9vw, 145px);
}

/* mobile */
/* quand ont passe en mobile ont met sur une coln les bloc img et text,
passe l'un en dessous de l'autre */
@media (max-width: 768px) {
    .saison2026-intro {
        grid-template-columns: 1fr;

    }
}

.saison2026-intro-affiche {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.saison2026-intro img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .saison2026-intro img {
        width: 60%;
        height: auto;
    }
}

.saison2026-intro-content {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: clamp(0px, 2vw, 30px);
    margin: 40px 30px;

    /* pour positionner correctement le texte verticale : 1*/
    position: relative;

}



.saison2026-intro-content-vertical {
    /* pour positionner correctement le texte verticale : 2 */
    /* utilisation de absolute pour layout global → mauvais
    absolute pour élément décoratif → parfait */
    position: absolute;
    left: clamp(-66px, -5vw, -38px);
    top: 15px;

    writing-mode: vertical-rl;
    transform: rotate(180deg);

    letter-spacing: 2px;
}


.saison2026-intro-content-textBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* One week One exhibition */
/* grid principal */
.saison2026-prog {
    margin: 0 20px;
}


.saison2026-prog-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 65px;
    row-gap: clamp(20px, 5vw, 40px);

    margin: 0 20px;

}

@media (max-width: 768px) {
    .saison2026-prog-content {
        grid-template-columns: 1fr;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.saison2026-prog-title {
    grid-column: 1/3;
    background-color: antiquewhite;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .saison2026-prog-title h2 {
        font-size: 26px;
    }
}

.saison2026-prog-content-left {
    display: grid;
    grid-column: 1 / 2;
    gap: 35px;
}


.saison2026-prog-content-right {
    display: grid;
    grid-column: 2 / 2;
    gap: 35px;
}

@media (max-width: 768px) {
    .saison2026-prog-content-left {
        grid-column: 1 / 2;
    }

    .saison2026-prog-content-right {
        grid-column: 1 / 2;
    }
}


/* grid secondaire (petit bloc span -> h4, h5, p) */
.saison2026-prog-content span {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 0.1em;
    grid-auto-rows: auto;
}

@media (max-width: 768px) {
    .saison2026-prog-content span {
        grid-template-columns: 1fr 2fr;
        grid-row-gap: 0.5em;
    }
}

.saison2026-prog-content span h4 {
    grid-column: 1;
    grid-row: 1/3;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 1.5em;
    font-size: clamp(20px, 2vw, 35px);
}



.saison2026-prog-content span h5 {
    grid-column: 2;
    grid-row: 1;

    font-size: clamp(16px, 2vw, 24px);

}

.saison2026-prog-content span p {
    grid-column: 2;
    grid-row: 2;
    font-weight: normal;
    font-size: clamp(14px, 2vw, 16px);


}